* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@keyframes slideInFromTop {
    0% {
         transform: translateY(-5vh);
    }
    100% {
         transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(15vw);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    background-image: url(../images/circle-thing.png);
    background-repeat: no-repeat;
    background-position: 50%;
    animation: fadeIn 2000ms ease-in 0s 1;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:75vh;
    max-height: 100vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 10px;}


header h1 {
    animation: 700ms ease-in 0s 1 fadeIn;
}

header p {
    color: #CD5175;
    animation: 1500ms ease-in 0s 1 fadeIn;

}


h2 {
    color: white;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    background-image: url(../images/gradient-nav.jpg);
    border-radius: 10px;
    animation: fadeIn 1750ms ease-in 0s 1;
    max-width: 95%;
}


button {
    color: black;
    font: Trebuchet;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 7px;
    margin: 5px;
}


button:hover {
    text-decoration: underline;
    transform: scaleX(1.075);
}

.center {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    
}

.container {
    /* display: block; */
    transition: all 250ms ease;
    border: 4px groove #CD5175;
    border-radius: 20px;
    margin: 10px 0;
}

.container:hover {
    transform: translateX(5px);
    box-shadow: 2px 2px 2px darkslategray;
}

.card-header {
    text-indent: 15px;
    padding: 10px;
}

.main-card {
    max-width: 1140px;
    border-radius: 20px;
    margin: 5px;
}

.small-card {
    max-width: 650px;
    min-width: 400px;
    border-radius: 15px;
    margin: 5px;
}

.content {
    font: Trebuchet;
    font-style: oblique;
    display: flex;
    padding-right: 10%;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    float: left;
    text-align: left;
    line-height: 200%;
    padding-left: 15px;
    padding-right: 35px;
}

.content img {
    float: right;
    padding: 10px;
    border-radius: 30px;
}

.contact-me {
    
}

footer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-image: url(../images/gradient-nav.jpg);
    border-radius: 10px;
}